/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #efefef !important;}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -20px;
  background-color: #59ab6e;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #59ab6e !important;
  font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
